body {
	font-family: Avenir, sans-serif;
	background-color: #f7f0d7;
}

header{
	width: 100%;
	height: 10%;
	font-size: 250%;
	text-align: center;
	margin-bottom: 0%;
	border-bottom: 1px solid black;
}

.tabs {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.tab {
	float: left;
	margin-left: 6%;
	margin-right: 6%;
}



tr:hover {background-color:#f5f5f5;}

table, th, td {
   border: 1px solid black;
	 text-align: center;
	 font-size: 100%;
}

table {
    border-collapse: collapse;
}

.ej {
	width: 45%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
