body {
	font-family: Avenir, sans-serif;
	background-color: #f7f0d7;
}

header{
	width: 100%;
	height: 10%;
	font-size: 250%;
	text-align: center;
	margin-bottom: 0%;
	border-bottom: 1px solid black;
}

tr:hover {background-color:#b5b19f;}

.tabs {
	width: 100%;
	height: 2.5%;
}


.tab {
	width: 20%;
	float: left;
	text-align: center;
	border-bottom: 1px solid black;
}

table, th, td {
   border: 1px solid black;
	 text-align: center;
	 font-size: 100%;
	 padding-left: 5px;
	 padding-right: 5px;
}

table {
    border-collapse: collapse;
}


.instructions{
	width: 100%;
	height: 0.5%;
	margin-top: 0.5%;
	text-align: right;
}

.columna1 {
	width: 27%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.columna2 {
	width: 63%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.tablagrupos {
	width: 45%;
	float: left;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
}

.fila{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.tablacol2 {
	margin-right: 9.2%;
}

@media only screen and (max-width: 376px) {
	body header {
		font-size: 900%;
	}
	body {
		font-size: 20%;
	}
	.columna1 {
		width: 44%;
		float: left;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}
	.columna2 {
		width: 50%;
		float: left;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}
	.tablagrupos {
		width: 55%;
		margin-bottom: 7.5%;
	}
	.tablacol2 {
		margin-right: 1.5%;
	}
}
