body {
	font-family: Avenir, sans-serif;
	background-color: #f7f0d7;
}

header{
	width: 100%;
	height: 10%;
	font-size: 250%;
	text-align: center;
	margin-bottom: 0%;
	border-bottom: 1px solid black;
}

.instructions{
	margin-top: 1%;
	width: 100%;
	height: 10%;
	font-weight: bold;
	margin-left: 0.25%;
}

.group_half{
	width: 25%;
	height: 100%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.group_half h1{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 0%;
}

.row{
	height: 75%;
	margin-bottom: 2.5%;
	margin-left: 7.5%;
}

.last_group{
	width: 45%;
	height: 100%;
	float: left;
}

.last_group h1{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 0%;
	margin-left: 3.5%;
}

.last_group table{
	float: center;
	font-size: 87.5%;
	margin-right: 2%;
	margin-left: 27.5%;
}

.matches_last{
	float: center;
	width: 100%;
	margin-left: 1.5%;
}

.team_left_last{
	text-align: right;
	float: left;
	width: 41.5%;
}

.team_right_last{
	text-align: left;
	float: left;
	width: 41.5%;
}

.score_last{
	float: left;
	width: 17%;
	margin: 0% 0% 0% 0%;
	height: 80%;
}


.points{
	width: 100%;
	height: 50%;
	float: center;
}

table{
	float: center;
	font-size: 87.5%;
	margin-right: 2%;
	margin-left: 7.5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.matches{
	float: center;
	width: 100%;
	margin-left: 2.5%;
}

.match {
	font-size: 90%;
	text-align: center;
	height: 6%;
}

.team_left{
	text-align: right;
	float: left;
	width: 35%;
}

.team_right{
	text-align: left;
	float: left;
	width: 35%;
}

.score{
	float: left;
	width: 30%;
	margin: 0% 0% 0% 0%;
	height: 80%;
}
