body {
	font-family: Avenir, sans-serif;
	background-color: #f7f0d7;
}

header{
	width: 100%;
	height: 10%;
	font-size: 250%;
	text-align: center;
	margin-bottom: 0%;
	border-bottom: 1px solid black;
}

.info_user{
	width: 100%;
	height: 7.5%;
	margin-top: 1.75%;
	margin-bottom: 0%;
}

.info_entry{
	float: left;
	width: 30%;
	height: 100%;
}

.info_name{
	max-width: 40%;
	float: left;
}

.info_name p{
	margin: 0 0 0 0;
}

.info_square{
	width: 60%;
	float: left;
}

.tabs {
	width: 100%;
	height: 4%;
}

.tab {
	width: 20%;
	float: left;
	text-align: center;
	border-bottom: 1px solid black;
}

.todo{
	width: 100%;
	float: left;
	margin-left: 0%;
	margin-right: 1.5%;
}

.matches4 {
	width: 8%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.instructions{
	width: 100%;
	height: 15.5%;
	margin-left: 0.25%;
	margin-top: 0.75%;
	border-bottom: 1px solid black;
}

.matches2 {
	width: 8%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 8.5%
}

.matches1 {
	width: 8%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 12.5%
}

.fasefinal {
	width: 16%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 10.5%
}

.match {
	margin-top: 40%;
	margin-bottom: 40%;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 1px;
	padding-right: 2px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.matchfinal {
	margin-top: 18%;
	margin-bottom: 18%;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 1px;
	padding-right: 2px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.choose {

}

.CasillaCampeon {
	margin-top: 0%;
	margin-bottom: 0%;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 1px;
	padding-right: 2px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.submit_button{
	height: 3.5%;
	margin-right: 2.5%;
}

.submit_button input[type=submit] {
	font-size: 95%;
	border: none;
	border-radius: 36%;
-moz-border-radius: 10%;
-webkit-border-radius: 10%;
background-color: white;
color: black
}

.divider{
	height: 100%;
	width: 2%;
	display: inline-block;
	float: right;
}

.mensaje_resultado{
	width: 100%;
	height: 5%;
}

.submit_result{
	color: green;
	margin-left: 70%;
	margin-top: 2%;
}

.EquipoCampeon {

}

@media only screen and (max-width: 415px) {
	.tabs{
		height: 4%;
	}
	.instructions{
		height: 38.5%;
	}
	.info_user{
		height: 20%;
	}
	.info_entry{
		width: 100%;
		height: 30%;
	}
	.info_square{
		margin-left: 1%;
	}
	.matches4 {
		width: 100%;
	}

	.matches2 {
		width: 100%;
	}
	.matches1 {
		width: 100%;
	}
	.fasefinal {
		width: 100%;
	}
	.match {
		height: 12%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
	}

	.matchfinal	{
		height: 12%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
	}

	.CasillaCampeon {
		margin-top: 0%;
		margin-bottom: 0%;
		padding-left: 2px;
		padding-bottom: 2px;
		padding-top: 1px;
		padding-right: 2px;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		margin-right: 4%;
	}

	body header {
		font-size: 200%;
	}

}


@media only screen and (max-width: 376px) {
	.tabs{
		height: 4%;
	}
	.instructions{
		height: 48%;
	}
	.info_user{
		height: 20%;
	}
	.info_entry{
		width: 100%;
		height: 30%;
	}
	.info_square{
		margin-left: 1%;
	}
	.matches4 {
		width: 100%;
	}

	.matches2 {
		width: 100%;
	}
	.matches1 {
		width: 100%;
	}
	.fasefinal {
		width: 100%;
	}
	.match {
		height: 12%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
	}

	.matchfinal	{
		height: 12%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
	}

	.CasillaCampeon {
		margin-top: 0%;
		margin-bottom: 0%;
		padding-left: 2px;
		padding-bottom: 2px;
		padding-top: 1px;
		padding-right: 2px;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		margin-right: 4%;
	}

	body header {
		font-size: 200%;
	}

}

@media only screen and (max-width: 321px) {
	.tabs{
		height: 4%;
		font-size: 80%;
	}
	.instructions{
		height: 62%;
	}
	.info_user{
		height: 30%;
	}
	.info_entry{
		width: 100%;
		height: 25%;
	}
	.info_square{
		margin-left: 1%;
		width: 40%;
		}
	.info_name {
		width: 50%;
		max-width: 90%;
	}

	.matches4 {
		width: 100%;
	}

	.matches2 {
		width: 100%;
	}
	.matches1 {
		width: 100%;
	}
	.fasefinal {
		width: 100%;
	}
	.match {
		height: 18%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
	}

	.matchfinal	{
		height: 18%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
	}

	.CasillaCampeon {
		margin-top: 0%;
		margin-bottom: 0%;
		padding-left: 2px;
		padding-bottom: 2px;
		padding-top: 1px;
		padding-right: 2px;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		margin-right: 4%;
	}
	body header {
		font-size: 180%;
	}

}
