body {
	font-family: Avenir, sans-serif;
	background-color: #f7f0d7;
}

header{
	width: 100%;
	height: 10%;
	font-size: 250%;
	text-align: center;
	margin-bottom: 0%;
	border-bottom: 1px solid black;
}

.tabs {
	width: 100%;
	height: 4%;
}

.tab {
	width: 20%;
	float: left;
	text-align: center;
	border-bottom: 1px solid black;
}

.instructions{
	width: 99.75%;
	height: 5%;
	font-weight: bold;
	margin-left: 0.25%;
}

.info_user{
	width: 100%;
	height: 7.5%;
	margin-top: 2.5%;
	margin-bottom: 0%;
}

.info_entry{
	float: left;
	width: 30%;
	height: 100%;
}

.info_name{
	width: 40%;
	float: left;
}

.info_name p{
	margin: 0 0 0 0;
}

.info_square{
	width: 60%;
	float: left;
}

.group_half{
	width: 25%;
	height: 100%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.group_half h1{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 0%;
}

.row{
	height: 80%;
	margin-bottom: 0%;
	margin-left: 7.5%;
}

.rowlast{
	height: 45%;
	margin-left: 10%;
	width: 90%;
	margin-bottom: 8%;
}

.lastrowinfo{
	width: 30%;
	height: 100%;
	float: left;
	margin-left: 2%;
	margin-right: 5%;
	margin-top: 2.5%;
}

table{
	float: center;
	font-size: 87.5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.last_group{
	width: 45%;
	height: 100%;
	float: left;
}

.last_group h1{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 0%;
	margin-left: 12%;
}

.last_group table{
	float: center;
	font-size: 87.5%;
	margin-right: 2%;
	margin-left: 27.5%;
}

.matches_last{
	float: center;
	width: 100%;
	margin-left: 7%;
	margin-top: 1.75%;
}

.team_left_last{
	text-align: right;
	float: left;
	width: 40%;
}

.team_right_last{
	text-align: left;
	float: left;
	width: 40%;
}

.score_last{
	float: left;
	width: 20%;
	margin: 0% 0% 0% 0%;
	height: 80%;
}


.points{
	width: 100%;
	height: 39%;
	float: center;
	margin-left: 6%;
	margin-top: 0%;
}



.matches{
	float: center;
	width: 100%;
	margin-left: 0%;
	margin-top: 2.5%;
	margin-bottom: 0%;
}

.match {
	font-size: 90%;
	text-align: center;
	height: 6%;
}

.team_left{
	text-align: right;
	float: left;
	width: 32.5%;
}

.team_right{
	text-align: left;
	float: left;
	width: 32.5%;
}

.score{
	float: left;
	width: 35%;
	margin: 0% 0% 0% 0%;
	height: 80%;
}

.credits{
	margin-top: 2.5%;
	width: 100%;
	height: 5%;
	text-align: right;
	font-style: italic;
}

.submit{
	text-align: center;
	margin-top: 2.5%;
}

.submit input[type=submit]{
	width: 50%;
	font-size: 100%;
	height: 50%;
	font-family: Avenir, sans-serif;
}

.submit_last{
	text-align: center;
	margin-top: 2.5%;
	width: 60%;
	margin-left: 26.5%;
}

.submit_last input[type=submit]{
	width: 50%;
	font-size: 100%;
	height: 50%;
	font-family: Avenir, sans-serif;
}

.submit_button{
	height: 3.5%;
	margin-right: 2.5%;
}

.submit_button input[type=submit] {
	font-size: 95%;
	border: none;
	border-radius: 36%;
-moz-border-radius: 10%;
-webkit-border-radius: 10%;
background-color: white;
color: black
}

.submit_result{
	float: left;
	margin-left: 66%;
	font-style: italic;
	color: green;
}


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
	width: 80%;

}

.autcocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.autcocomplete input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.reglas{
	height: 5%;
	width: 100%;
}

.collapsible {
    background-color: #f7f0d7;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #f7f0d7;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f7f0d7;
}

.collapsible{
	font-family: Avenir, sans-serif;
	font-size: 105%;
}
