body {
	font-family: Avenir, sans-serif;
	background-color: #f7f0d7;
	font-size: 80%
}

header{
	width: 100%;
	height: 10%;
	font-size: 250%;
	text-align: center;
	margin-bottom: 0%;
	border-bottom: 1px solid black;
}

body {
	font-size: 100%;
}

.tabs {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.tab {
	float: left;
	margin-left: 6%;
	margin-right: 6%;
}

.reglas{
  height: 50%;
  width: 100%;
}

.row{
	height: 55%;
	margin-bottom: 2.5%;
	margin-left: 2.5%;
}

.row1{
	height: 40%;
	margin-bottom: 2.5%;
	margin-left: 2.5%;
}

.info {
	width: 40%;
	height: 100%;
	float: left;
	margin-left: 2.5%;
	margin-right: 0%;
}
